// variables

:root {
    // --swiper-pagination-top: 0;
    // --swiper-pagination-bottom: 0;
    --swiper-navigation-top-offset: calc(50% - .75rem);
    --swiper-theme-color: var(--zcu-primary);
    --zcu-brand-color: #0b318f;
    --zcu-brand-color-rgb: 11, 49, 143;
    --zcu-secondary-color: #0062a9;
    --zcu-secondary-color-rgb: 0, 98, 169;
    --zcu-auxiliary-color: #19a1c8;
    --zcu-auxiliary-color-rgb: 25, 161, 200;
    --zcu-text-color: #0b0c0c;
    --zcu-text-secondary-color: #505a5f;
    --zcu-focus-color: #bd9f68;
    --zcu-focus-color-rgb: 189, 159, 104;
    --zcuBaseTransition: all 0.5s linear 0s;
}

a {
    text-decoration: none;
}

.zcu-text-shadow {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
}

.zcu-gradient-bg {
    background: linear-gradient(90deg, #19a1c8 0%, #0062a9 50%, #0b318f 100%);
    opacity: .1;
}

.zcu-gradient-primary-translucent-bg {
    background: linear-gradient(180deg, rgba(11, 49, 143, 0) 0%, rgba(0, 98, 169, 0.6) 120%);
}

// layout
header {
    background: var(--zcu-secondary-color);
}
.navbar {
    background: #fff;
}
.zcu-page-banner {
    min-height: 15rem;

    .container-xxl {
        min-height: 15rem;
    }

    .breadcrumb {
        --zcu-breadcrumb-divider-color: rgba(255, 255, 255, .75);
        --zcu-breadcrumb-divider: ">";
        color: #fff;

        a {
            color: rgba(255, 255, 255, .75);
            text-decoration: none;

            &:hover {
                color: var(--zcu-focus-color);
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .zcu-page-banner {
        min-height: 25rem;

        .container-xxl {
            min-height: 25rem;
        }
    }
}

#zcuCategory {
    max-width: 18rem;
    height: 100vh;
}



@include media-breakpoint-up(lg) {
    #zcuCategory {
        max-width: 18rem;
        height: 100%;
    }

    .zcu-toc {
        grid-area: sidebar;
    }

    .zcu-main {
        grid-area: main;
        min-width: 100%;
    }

    .zcu-major {
        display: none !important;
    }

    .zcu-layout {
        display: grid;
        grid-template-areas: "sidebar main";
        grid-template-columns: 16.5rem auto;
        gap: 3rem;
        padding: 0;
    }

    .zcu-toc {
        position: sticky;
        top: 5rem;
        left: 0;
        z-index: 2;
        max-height: calc(100vh - 5.5rem);

    }


}

// content
.zcu-toc {
    .offcanvas-lg {
        .offcanvas-header.border-bottom {
            --zcu-offcanvas-title-line-height: 1.5;
            display: flex;
            justify-content: center;
            // background-color: rgba( var(--zcu-secondary-color-rgb), 1);
            // background-image: url(/content/_common/v3/images/shape-1.png);
            // background-position: top left;
            color: var(--zcu-body-color);
            // position: relative;
            z-index: 2;

            .offcanvas-title {
                font-size: 20px;
            }
        }

        .offcanvas-body {
            .zcu-category {
                width: 100%;
                height: 100%;
                max-height: calc(100vh - 6rem);
                overflow-y: scroll;
                position: relative;
            }

            .zcu-category::-webkit-scrollbar {
                display: none;
                /* Chrome Safari */
            }

            .zcu-category {
                scrollbar-width: none;
                /* firefox */
                -ms-overflow-style: none;
                /* IE 10+ */
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .zcu-toc {
        .offcanvas-lg {
            .offcanvas-header.border-bottom {
                --zcu-offcanvas-title-line-height: 1.5;
                display: flex;
                justify-content: center;
                // background-color: rgba(var(--zcu-secondary-color-rgb), 1);
                background-color: var(--zcu-brand-color);
                background-image: url(/content/_common/v3/images/shape-1.png);
                background-position: top left;
                color: #fff;
                border-width: 0 !important;
                position: relative;
                z-index: 2;

                .btn-close {
                    display: none;
                }
            }

            .offcanvas-body {
                .zcu-category {
                    width: 100%;
                    height: 100%;
                    max-height: calc(100vh - 9.375rem);
                    overflow-y: scroll;
                    position: relative;
                }

                .zcu-category::-webkit-scrollbar {
                    display: none;
                    /* Chrome Safari */
                }

                .zcu-category {
                    scrollbar-width: none;
                    /* firefox */
                    -ms-overflow-style: none;
                    /* IE 10+ */
                }
            }

            .zcu-category {
                // background: linear-gradient(-145deg, var(--zcu-secondary-color), var(--zcu-auxiliary-color));
                // background-color: var(--zcu-brand-color);
                z-index: 1;
                border: 3px solid var(--zcu-brand-color);

                // &::before {
                //     content: "";
                //     z-index: -1;
                //     top: 3px;
                //     left: 3px;
                //     position: absolute;
                //     background: #fff;
                //     width: calc(100% - 6px);
                //     height: calc(100% - 6px);
                // }
            }
        }
    }
}

.zcu-main {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    padding: 2rem;
}

.zcu-content h2,
.zcu-sidebar-title {
    align-items: center;
    border-left: 0.5rem solid var(--zcu-primary);
    display: flex;
    // margin: 35px 0 15px -30px;
    padding-left: .875rem;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);

    // &::before {
    //     content: " ";
    //     display: block;
    //     position: absolute;
    //     z-index: -1;
    //     top: -6px;
    //     left: -4px;
    //     width: 28px;
    //     height: 28px;
    //     background: var(--zcu-focus-color);
    // }
    &::after {
        content: "";
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        height: 0;
        border-top: 1px solid #e0e0e0;
        margin-left: 0.5rem;
    }

    &.invisible {
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
    }
}

.zcu-main {
    p {
        // max-width: 720px; //45em
        text-align: justify;
        line-height: 1.75;
        margin: 0 auto 1rem;
        // text-indent: 2em;
    }

    ol,
    ul {
        max-width: 720px; //45em
        text-align: justify;
        line-height: 1.75;
        margin: 0 auto 1rem;
        padding-left: 1rem;
    }

}
.cgzs {
    background: rgba(var(--zcu-brand-color-rgb), .3);
}

.title-block {
    h4 {
        background-image: url(/content/_common/v3/images/plus.png);
        background-position: left center;
        background-repeat: no-repeat;
        padding-left: 1.5rem;
    }
}
.cg-feature {
    background: rgba(var(--zcu-brand-color-rgb), .2);
    .advantage {
        .adv-box {
            height: 100%;
            background: #ffffff;
            transition: all .3s ease-out;
            padding: 1.5rem 1rem 3rem 1rem;
            border-radius: 0;

            .desc {
                text-align: justify;
                line-height: 1.5;
                p {
                    a {
                        color: var(--zcu-gray-600);
                    }
                }
                &:hover {
                    h2 {
                        a {
                            color: var(--zcu-focus-color);
                        }
                    }
                    p {
                        a {
                            color: var(--zcu-body-color);
                        }
                        
                    }
                }
                &:last-child {
                    border-bottom: 0 !important;
                }
            }
            

            &:hover {
                background: #fafafa;
                transform: translateY(-10px);

                h4 {
                    color: var(--zcu-focus-color);
                }
            }
        }

    }
}

.link {
    background: rgba(var(--zcu-brand-color-rgb), .3);
    a {
        border: 1px dashed var(--zcu-auxiliary-color);
        padding: 2px 5px;
        margin-right: 10px;
    }
}
// components

.navbar-brand {
    padding-bottom: .2rem;
    padding-top: .2rem;

    img {
        max-width: 18rem;
    }
}

@include media-breakpoint-down(lg) {
    .navbar {
        --zcu-navbar-padding-y: 0;
    }
}

@include media-breakpoint-up (lg) {
    .navbar-brand {
            img {
                max-width: 32rem;
            }
        }
}

.zcu-search {
    position: relative;

    .search-wrapper {
        position: relative;
        background: #fff;
        border-radius: 0px;
        box-shadow: var(--zcu-box-shadow-sm);
        font-size: 1.25rem;
        padding: 0rem 0rem 0rem 1rem;
        z-index: 3
    }

    .search-wrapper,
    .search-wrapper .search-input-container {
        align-items: center;
        display: flex
    }

    .search-wrapper .search-input-container {
        position: relative
    }

    .search-wrapper .search-logo {
        height: 1.25rem;
        width: 1.25rem;
    }

    .search-wrapper .search-clear {
        cursor: pointer;
        display: none;
        position: absolute;
        height: 1.25rem;
        width: 1.25rem;
        right: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
    }

    .search-wrapper .search-clear.show {
        display: block
    }

    .search-wrapper.active .search-input {
        width: 100%;
    }

    .search-wrapper .search-input {
        border: none;
        font-size: 1rem;
        height: 1.625rem;
        margin: 0 .75rem;
        transition: width .5s ease;
        width: 100%;
    }

    .search-wrapper .search-input:focus {
        outline: none;
    }

    .search-wrapper .search-input::placeholder {
        color: #0003
    }

    .search-wrapper .search-btn {
        align-items: center;
        background: var(--zcu-focus-color);
        border-radius: 0px;
        color: #fff;
        cursor: pointer;
        display: flex;
        font-size: 1rem;
        height: 3rem;
        justify-content: center;
        transition: color .5s ease, opacity .5s ease;
        width: 4rem;
    }

    .search-wrapper .search-btn.disabled {
        color: #fff9;
        cursor: not-allowed;
        opacity: .8;
        pointer-events: none
    }

    .search-wrapper .search-btn:hover {
        color: #fff9;
        opacity: .8
    }

}

@include media-breakpoint-up(md) {
    .zcu-search {
        .search-wrapper {
            top: auto;
        }

        .search-wrapper.active .search-input {
            width: 15rem;
        }

        .search-wrapper .search-input {
            width: 3.685rem;
        }

        .search-result {
            top: auto;
            margin-top: -1rem;
            width: 28.75rem;
        }
    }
}

.zcu-major-list {
    .card {
        position: relative;
        border-radius: 0;
        border-color: var(--zcu-gray-200);
        box-shadow: var(--zcu-box-shadow-sm);
        transition: transform .65s cubic-bezier(.23, 1, .32, 1);

        .major-photo {
            position: relative;
            width: 100%;
            overflow: hidden;
        }

        .badge {
            background: rgb(var(--zcu-danger-rgb));
            font-weight: 400;
            font-size: 14px;
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 1;
        }

        img {
            width: 100%;
            transition: transform .65s cubic-bezier(.23, 1, .32, 1);
        }

        .card-body {
            display: flex;
            flex-direction: column;

            // justify-content: space-between;
            h3 {
                font-size: 1.125rem;
            }

            p {
                margin-bottom: 6px;
            }

            .meta {
                color: var(--zcu-gray-500);
            }

            .slogan {
                color: var(--zcu-gray-600);
            }
        }

        a {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        &:hover {

            box-shadow: var(--zcu-box-shadow);
            transform: translateY(-3px);

            // img {
            //     transform: scale(1.07);
            // }
            .badge {
                background: var(--zcu-focus-color);
            }

            .card-body {
                h3 {
                    color: var(--zcu-brand-color);
                }

                .slogan {
                    color: var(--zcu-gray-800);
                }
            }
        }

    }
}

.notification {
    --zcu-modal-border-radius: 0.125rem;

    .modal-dialog {
        .modal-content {
            border: 5px solid var(--zcu-secondary-color);
            background-color: var(--zcu-secondary-color);

            .modal-header {
                .modal-title {
                    color: #fff;
                }

                .btn-close {
                    --zcu-btn-close-color: #ffffff;
                    --zcu-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff%0a'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
                }
            }

            .modal-body {
                background-color: #fff;
            }
        }
    }
}

.pagination.pagination-3d .page-item .page-link {
    border-bottom: 3px solid rgba(var(--zcu-black-rgb), .15) !important
}

.zcu-cta {
    background-color: var(--zcu-brand-color);
    color: #fff;
    padding: 8px;
}

.swiper {
    width: 100%;
}


.zcu-swiper-cgzs {
    --swiper-navigation-size: 24px;
    padding-bottom: 1.5rem;

    .swiper-button-prev,
    .swiper-button-next {
        background: rgba(255, 255, 255, .5);
        border-radius: 5px;
        width: 40px;
        height: 40px;
        margin-top: -20px;
    }

    .swiper-pagination {
        bottom: 0;
    }

}

.offcanvas-header {
    padding: 0.75rem 0.5rem;

    .offcanvas-title {
        line-height: 2.5rem;
    }

    .btn-close {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.75rem;
    }
}

.zcu-share a {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: 50%;
    text-align: center;
}

.zcu-share a.zcu-wechat {
    background-color: #70bf4a;
    border-color: #70bf4a;
}

.zcu-share a.zcu-weibo {
    background-color: #ea792f;
    border-color: #ea792f;
}

.zcu-share a.zcu-qq {
    background-color: #09f;
    border-color: #09f;
}

.zcu-share a.zcu-link {
    background-color: #f56e6e;
    border-color: #f56e6e;
}

.zcu-share a i {
    color: white;
}

.swiper-pagination-bullet {
    --swiper-pagination-bullet-width: 0.3125rem;
    --swiper-pagination-bullet-height: 0.3125rem;
}

.swiper-pagination-bullet-active {
    width: 1.5rem;
    border-radius: 50rem;
    transition: width .2s ease-in-out,
        height .2s ease-in-out,
        background-color .2s ease-in-out;
}

.zcu-content>h2,
.zcu-content>h3,
.zcu-content>h4 {
    --zcu-heading-color: var(--zcu-emphasis-color);
}

.zcu-content h2 {
    margin-top: 1.25rem;
    font-size: calc(1.25rem + 0.5vw);
}

.zcu-content h3 {
    margin-top: 1rem;
    font-size: calc(1rem + 0.375vw);
}

.zcu-content>ul li,
.zcu-content>ol li {
    margin-bottom: .25rem
}

.zcu-content>ul li>p~ul,
.zcu-content>ol li>p~ul {
    margin-top: -.5rem;
    margin-bottom: 1rem
}

.zcu-content>.table,
.zcu-content>.table-responsive .table {
    --zcu-table-border-color: var(--zcu-border-color);
    max-width: 100%;
    margin-bottom: 1.5rem;
    font-size: .875rem
}

.zcu-content>.table thead,
.zcu-content>.table-responsive .table thead {
    border-bottom: 2px solid currentcolor
}

.zcu-content>.table tbody:not(:first-child),
.zcu-content>.table-responsive .table tbody:not(:first-child) {
    border-top: 2px solid currentcolor
}

.zcu-content>.table th:first-child,
.zcu-content>.table td:first-child,
.zcu-content>.table-responsive .table th:first-child,
.zcu-content>.table-responsive .table td:first-child {
    padding-left: 0
}

.zcu-content>.table th:not(:last-child),
.zcu-content>.table td:not(:last-child),
.zcu-content>.table-responsive .table th:not(:last-child),
.zcu-content>.table-responsive .table td:not(:last-child) {
    padding-right: 1.5rem
}

.zcu-content>.table th,
.zcu-content>.table-responsive .table th {
    color: var(--zcu-emphasis-color)
}

.zcu-content>.table strong,
.zcu-content>.table-responsive .table strong {
    color: var(--zcu-emphasis-color)
}

.zcu-content>.table th,
.zcu-content>.table td:first-child>code,
.zcu-content>.table-responsive .table th,
.zcu-content>.table-responsive .table td:first-child>code {
    white-space: nowrap
}

.table-options td:nth-child(2) {
    min-width: 160px
}

.table-options td:last-child,
.table-utilities td:last-child {
    min-width: 280px
}

.table-swatches th {
    color: var(--zcu-emphasis-color)
}

.table-swatches td code {
    white-space: nowrap
}

.zcu-title {
    --zcu-heading-color: var(--zcu-emphasis-color);
    font-size: calc(1.425rem + 1vw)
}

.zcu-lead {
    font-size: calc(1rem + .3vw);
    font-weight: 300
}

.zcu-icon {
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
    fill: currentcolor
}

.zcu-links-heading {
    color: var(--zcu-emphasis-color)
}

.zcu-links-link {
    padding: .1875rem 0;
    margin-top: .125rem;
    margin-left: 0;
    color: var(--zcu-body-color);
    text-decoration: none
}

.zcu-links-link:hover,
.zcu-links-link:focus,
.zcu-links-link.active {
    color: var(--zcu-emphasis-color);
    background-color: var(--zcu-major-link-bg)
}

.zcu-links-link.active {
    font-weight: 600
}


.post-body {
    .image-container {
        display: block;
        max-width: 100%;
        text-align: center;
        a {
            color: var(--zcu-gray-500);
        }
        .image-title {
            display: block;
            font-size: 0.75em;
            color: var(--zcu-gray-500);
        }
    }
}


.zcu-card {
    cursor: pointer;
}

.zcu-card .card-img-overlay {
    background: rgba(0, 0, 0, .05);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.zcu-card .card-img-overlay .zcu-card-title {
    bottom: 9px;
    display: flex;
    font-size: 0.875rem;
    left: 0;
    line-height: 1.5;
    position: absolute;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .8);
    width: 100%;
}

.zcu-card .card-img-overlay .zcu-card-title>div {
    color: #fff;
    flex: auto;
    overflow: hidden;
    padding: 0 0.75rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.zcu-card .card-img-overlay .zcu-card-title>div+div {
    color: #f8f8f8;
    flex: none;
    padding: 0;
    margin-right: 0.75rem;
}





.btn-zcu-category {
    text-align: center;
    position: fixed;
    font-size: 1rem;
    padding: 0;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    background: rgba(255, 255, 255, .93);
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .12);
    bottom: 5rem;
    right: 1.5rem;
    z-index: 1010;
}

.share {
    bottom: 8.5rem;
    right: 1.5rem;
}


#bd-theme,
#bd-share {
    height: 3rem;
    width: 3rem;
}

.btn-scroll-top {
    background: rgba(255, 255, 255, .93);
    border-radius: 0.625rem;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .12);
    bottom: 1.5rem;
    opacity: 0;
    position: fixed;
    right: 1.5rem;
    transform: translateY(.75rem);
    transition: all .2s linear, margin-right 0s;
    visibility: hidden;
    z-index: 1010
}

.btn-scroll-top,
.btn-scroll-top:after {
    cursor: pointer;
    display: block;
    height: 3rem;
    width: 3rem
}

.btn-scroll-top:after {
    color: var(--zcu-brand-color);
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230b318f%0a'%3e%3cpath d='M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5'/%3e%3c/svg%3e");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 2rem;
    font-size: 1.5rem;
    left: 0;
    line-height: 3rem;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all .2s linear;
    z-index: 1
}

.btn-scroll-top.active-progress {
    transform: translateY(0);
    visibility: visible
}

@media (min-width: 320px) {
    .btn-scroll-top.active-progress {
        opacity: 1
    }
}

.btn-scroll-top svg path {
    fill: none
}

.btn-scroll-top svg.progress-square path {
    stroke: var(--zcu-brand-color);
    stroke-width: 2;
    box-sizing: border-box;
    transition: all .2s linear
}

.zcu-content>.table.table-bordered,
.zcu-content>.table-responsive .table.table-bordered {
    border: 0
}

.zcu-links-nav {
    font-size: .875rem;
    column-count: 2;
    column-gap: 1.5rem;

    .zcu-links-group {
        break-inside: avoid
    }

    .zcu-links-span-all {
        column-span: all
    }
}



@include media-breakpoint-up(xl) {

    h1 {
        font-size: 2rem
    }

    .zcu-content h2,
    .zcu-content.h2 {
        font-size: 1.5rem
    }

    .zcu-content h3,
    .zcu-content .h3 {
        font-size: 1.25rem
    }

    h4,
    .h4 {
        font-size: 1.125rem;
    }

    h5,
    .h5 {
        font-size: 1rem;
    }

    .zcu-lead {
        font-size: 1.25rem
    }

}

.zcu-footer {
    background-image: url(/content/_common/v3/images/footer-bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-top: 0;
    padding: 2.5rem 0;

    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(19deg, rgba(var(--zcu-brand-color-rgb, 1)) 0, rgba(var(--zcu-brand-color-rgb), .58) 100%)
    }

    .container {
        position: relative;
        color: rgba(255, 255, 255, .7);
        font-size: 0.875rem;

        .logo {
            width: 300px;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }
}