
$blue: #0b318f;
// $indigo: #6610f2 !default;
// $purple: #6f42c1 !default;
// $pink: #d63384 !default;
// $red: #dc3545 !default;
// $orange: #fd7e14 !default;
// $yellow: #ffc107 !default;
// $green: #198754 !default;
// $teal: #20c997 !default;
$cyan: #0062a9;

$brand-color: #0b318f;

$primary: $brand-color;
$secondary: #505a5f;

// $body-color: black;
// $body-bg: white;

// $body-secondary-color: black;
// $body-secondary-bg: white;

// $body-tertiary-color: black;
// $body-tertiary-bg: white;

$body-emphasis-color: black;

$font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,"Helvetica Neue", "Microsoft YaHei", FreeSans, Arimo,"Droid Sans", "Noto Sans",
"Liberation Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
// $font-family-monospace: "Microsoft YaHei", monospace;
$font-size-base: 1rem;
$font-weight-base: 400;

$line-height-base: 1.5;

$enable-negative-margins: true;
// $enable-grid-classes: true;
// $enable-cssgrid: true;

$variable-prefix: zcu-;

$headings-margin-bottom: 1rem;
$headings-font-weight: 700;
// $headings-color: inherit;

$modal-header-padding-y: 0.125rem;

// Custom scrollbar

// $scrollbar-width: .1875rem;
// $scrollbar-track-width: .1875rem;
// $scrollbar-border-radius: 0.5rem;
// $scrollbar-bg: #0b318f;
// $scrollbar-track-bg: #cad0d9;
// $scrollbar-bg-dark: #cad0d9;
// $scrollbar-track-bg-dark: #0062a9;